*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: linear-gradient(to left, #eee , #eee);
    background-image: url(Images/Landred.jpg);
    background-size: cover;
    background-position: center;
    
}
.wrap{
    width: 60%;
    height: auto ;
    margin: 0 auto;
    /* background-color: rgb(161, 190, 181) */;
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
.containerForm{
    width: 60%;
    margin: 30px auto;
    /* background-color: rgb(86, 97, 84); */
}
.containerForm h1{
    text-align: center;
    width: 100%;
    color: green;
    padding: 2rem 1rem;
    margin: 0px auto;
    font-size: 27px;
    font-weight: bold;
}
form{
    margin: 5px auto;
}
input,
input:focus,
input:active{
    margin: 10px auto;
    outline:none;
    font-size:20px;
    font-weight: 500;
}
::placeholder{
    outline: none;
    color:green;
    
}
input{
    outline: none;
    display: block;
    width: 100%;
    background:none;
    border: none;
    border-bottom: 2px solid green;
    color: #eee;
}
/* .input:active{
    border: 3px solid #eee;
} */
button{
    display: block;
    width: 122px;
    margin: 10px auto;
    background: none;
    border: none;
    color:green;
    background-color: rgb(248, 253, 253);
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    padding: 0.25rem 0.5rem; 
    cursor: pointer;

}

 /*  ---==========box-weather===========----- */

.box-weather{
    padding-bottom: 5rem;
    height: 30rem;
}
 .weather{
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 15px;
    display:flex;
    gap: 25px;
    flex-wrap:wrap;
    box-shadow:8px 8px 8px rgb(161, 190, 181),
             -8px -8px 8px rgb(161, 190, 181);
    
}
#cityCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    color: #eee;
    font-size: 23px;
    font-weight: bold;
}
.box-sun{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}
.box{
    margin: 10px auto;
    width: 10rem;
    height: 125px;
    color: gray;
    border: 5px dotted rgb(161, 190, 181);
   
}
.box h2{
    margin-bottom: 2rem;
    text-align: center;
    color: green;
}
.box span{
    width: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: blue;
}

/* responsivité */
@media (max-width:1012px){
    .wrap{
        width: 80%;
        height: auto ;
        margin: 0 auto;
        /* background-color: rgb(161, 190, 181) */;
        backdrop-filter: blur(5px);
        border-radius: 25px;
    }
}
@media (max-width:725px){
    .wrap{
        width: 90%;
        height: auto ;
        margin: 0 auto;
        /* background-color: rgb(161, 190, 181) */;
        backdrop-filter: blur(5px);
        border-radius: 25px;
    }
}
@media (max-width:639px){
    .wrap{
        width: 90%;
        height: 100% ;
        margin: 0 auto;
        /* background-color: rgb(161, 190, 181) */;
        backdrop-filter: blur(5px);
        border-radius: 25px;
    }
}
@media (max-width:395px){
    .wrap{
        width: 24rem;
        max-height: 100% ;
        margin: 0 auto;
        /* background-color: rgb(161, 190, 181) */;
        backdrop-filter: blur(5px);
        border-radius: 25px;
    }
}