*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
     background:#555 
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.heading{
    width: 80%;
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.heading span {
    color: salmon;

}

.banner{
    width: 100%;
    height: 100vh;
    margin: 0 0 9rem 0;
}
header{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.logo a{
    font-size: 23px;
    font-weight: 500;
    color: #eee;
}

.logo a::before{
    content: "";
    border: 1px solid white;
    width: 30%;
}
nav{
    padding: 0px 2.5rem;
    word-spacing: 0.4rem;
    color: #eee;
}
nav a{
    color: #eee;
    text-decoration: none;
    font-size: 18px;
}

nav a::after{
    content: '';
   transition :2s ease-in
}
nav a:hover{
    color: salmon;
}
nav a::after:hover{
    border-bottom: 1px solid ;

}
.banner-text{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    justify-content: center;
    margin: 0 auto;
}
.presentation-box{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-left:2rem;
    padding-left:2rem;
    padding-bottom: 0.5rem;
   /*  box-shadow: inset 8px 8px 8px #555 ,
                -8px -8px 8px #555 ; */


}
.presentation{
    padding: 1rem 1rem;
    box-shadow: inset 8px 8px 8px #666,
                inset -8px -8px 8px #666 ;

}
.presentation-box .presentation{
    height: 400px;
}
.presentation-box .presentation h2{
    width: 100%;
}
.presentation-box .presentation h2{
    justify-content: flex-start;
    font-size: 5rem;
    color: #999;
    margin-bottom: 1rem;
}
.presentation-box .presentation h3{
    text-align: center;
    font-size: 2rem;
    color: #999;
    margin-bottom: 1rem;
}
.presentation-box .presentation h3 .sp1{
    text-align: center;
    font-size: 2rem;
    color: #999;
}
.presentation-box h4{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #999;
    margin-bottom: 1rem;
}
/* .presentation{
    width: 100%;
} */
.presentation-box .presentation .icon-joiner{
    list-style-type: none;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 1rem; 
}
.presentation-box .presentation .icon-joiner li{
    padding: 1.5rem 1rem;
}
.presentation-box .presentation .icon-joiner li a{
    text-decoration: none;
    color: #eee;
    transition: 1s ease-in-out;
}
.presentation-box .presentation .icon-joiner li a:hover{
    color:salmon;
    transform: skew(1,2);
}

.banner-image{
    width: 50%; 
    margin: 0 auto;
} 
.banner-image .polygon{
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform infinite  ease-in-out;
    /* animation : tourne 5s infinite ease-in-out;  */
}
@keyframes tourne{
    50%{
        transfrom: rotate(360deg);
        color: aqua;
    
    }
    100%{
            transfrom: rotate(360deg);
        
    }
}
.banner-image .polygon:hover{
     transform: rotate(360deg);

}

.banner-text .banner-image .polygon .polygon1{
    width: 500px;
    height: 400px;
    position: absolute;  
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
   /*  background-color: #eee; */
   background-color: #999;
   
}
.banner-text .banner-image .polygon .polygon2{
    width: 300px;
    height: 500px;
    position: absolute;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
    /* background-color: #d6cbcb; */
    background-color: salmon;
}
.banner-text .banner-image .polygon .polygon3{
    width: 400px;
    height: 600px;
    /* position: absolute; */ 
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
    /* background-color: #555; */
    background-color: #777;
    border-radius: 50%;
}
/*  ===========home responsivité============ */
@media(max-width:996px){
    .banner-text{
        width: 80%;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        gap: 15px;
        margin: 0 auto;
    }
    .presentation-box{
      margin: 0 auto;
      display: block;
    }
    .banner-image{
        width: 50%; 
        margin: 5rem auto;
        
    }

}
/*  ===========about============ */
.about{
    width: 80%;
    margin: 0 auto;
}
.about .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about .row .info{
    flex: 1 1 40rem;
    padding: 2rem 1rem;
}
.about .row .info h3{
    font-size: 2rem;
    color: salmon;
    padding: 1rem 0;
    font-weight: normal;   
}
.about .row .info h3 span{
    color: #eee;
    font-size: 1.5rem;

}
.about .row .counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
.about .row .counter .box{
    width: 10rem;
    background:#222;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.about .row .counter .box span{
    font-size: 4rem;
    color:salmon;
}
.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff ;
} 
.info .btn1{
    padding: .5rem 1rem;
    border: 2px solid salmon;
    border-radius: 18px;
    background-color: transparent;
    color: salmon;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
}
.info .btn2{
    padding: .5rem 1rem;
    border: 2px solid #eee;
    border-radius: 18px;
    background-color: transparent;
    background: salmon;
    color: #eee;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
}

/* ---=========about end==============----- */

/*----==========responsivité about=========------*/
@media (max-width:875px){
    .about .row{
        display: flex;
        flex-direction: column;
    }
    .about .row .info{
        width: 80%;
        margin: 0 auto;
        flex: 1 1 30rem;
        padding: 1rem 1rem;
    }
    .about .row .counter{
        flex: 1 1 48rem;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }
    .about .row .counter .box{
        width: 10rem;
        background:#222;
        text-align: center;
        padding: 2rem;
        margin: 2rem;
    }
}
/*  ===========education============ */
.eduaction{
    width: 80%;
    margin: 0 auto;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
 .education .box-container .box{
    display:inline-block;
    width: 27rem;
    margin: 4rem 1rem ;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position : relative;
}
 .education .box-container .box span{
    font-size: 1.5rem;
    background:#222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}
.education .box-container .box p{
    font-size: 1.4rem;
    color: #fff;
    padding-top: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width:5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: salmon
}

/* ----==========My education ends=============------ */

/* ----==========My skills starts=============------ */
.skills-content{
    width: 70%;
    margin: 0 auto;
   /*  display: flex;
    flex-direction: column;
    gap: 25px; */

}
.skills-content .skills-content-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}
.skills-content-child_left_item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    color: #eee;
}
.skills-content-child:nth-child(1){
    margin-top: 25px;
}
.skills-content-child:last-child{
    margin-bottom: 25px;
}
.skills-content-child_right_item{
    width: 90%;
    height: 15px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    background-color: #fff;
}  
.skills-content-child_right_item_span1{
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span2{
    display: inline-block;
    width: 83%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span3{
    display: inline-block;
    justify-content: center;
    width: 90%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span4{
    display: inline-block;
    justify-content: center;
    width: 70%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span5{
    display: inline-block;
    justify-content: center;
    width: 70%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span6{
    display: inline-block;
    justify-content: center;
    width: 85%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span7{
    display: inline-block;
    justify-content: center;
    width: 83%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span8{
    display: inline-block;
    justify-content: center;
    width: 79%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span9{
    display: inline-block;
    justify-content: center;
    width: 88%;
    height: 15px;
    background-color: salmon;  
}
.skills-content-child_right_item_span10{
    display: inline-block;
    justify-content: center;
    width: 77%;
    height: 15px;
    background-color: salmon;  
}
/* ----==========My portfolio start=============------ */
.portfolio{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.portfolio_box:nth-child(1){
    margin-top: 30px;
}
.portfolio_box:nth-child(5){
    margin-bottom: 30px;
}
/* ----==========Contact start=============------ */
.contact{
    width: 80%;
    margin: 0 auto;
}
form{
    width:60%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #999;
}
.formular h1{
    padding-top: 2rem;
    text-align: center;
    font-size: 27px;
    color: #eee;
    font-weight: 700;
}
.formular{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* .formular:nth(1){
    padding-top: 2rem;
} */
input{
    margin: 0px auto;
    outline: none;
    background: none;
    border: none;
    width: 80%;
    height: 50px;
    color: #eee;
    background-color: salmon;
    font-size: 25px;
}
.formular .btn3{
    width: 30%;
    margin: 20px auto;
    display: block;
    padding: .5rem .75rem;
    border: 2px solid salmon;
    border-radius: 18px;
    background-color: transparent;
    color: salmon;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
::placeholder{
    color: #eee;
    font-size: 25px;
}
/* ----==========Contact ends=============------ */
/* ----==========footer=============------ */
footer{
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #555;
    padding: 5rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 footer .footer-left a{
     color: #eee;
} 
footer .footer-right ul{
    display: flex;
    color: #eee;
}
footer .footer-right ul li{
    padding: 1rem 2rem;
    
}
footer .footer-right ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: salmon;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid #eee;
}
footer .footer-right ul li a .fa-brands:hover{
    box-shadow: 10px 10px 10px white;
}